{% extends "base.html" %}

{% block content %}

  <main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Hello, this is my Django Blog!</h1>
        <p class="message">สวัสดีครับ</p>
      </div>
    </div>

    <div class="container">
      {% for post in posts %}

      <div class="row pb-3">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
              My Story
              {% if post.photo %}
                <img class="card-img-top" src="{{ post.photo.url }}" alt="Blog photo">
              {% endif %}
            </div>
            <div class="card-body">
              <h5 class="card-title">{{post.title}}</h5>
              <p class="card-text">{{ post.body|slice:"200" }} ...</p>
              <a href="{% url 'post_detail' post.id %}" class="btn btn-primary">View more</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}



      <hr>

    </div> <!-- /container -->

  </main>

{% endblock %}