.body{
  padding-top: 3.5rem;
}
h1, h2 {
  font-family: 'Prompt','Sarabun', sans-serif;
  font-weight: 800;
}
/* .jumbotron {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white !important;
} */
.message {
  font-weight: 600;
  color: blue;
}